observer_java/.idea/
observer_java/target/
observer_java/*.iml
observer_java/dependency-reduced-pom.xml
firmware#1/build/
firmware#1/debug/
firmware#1/dist/
firmware#1/nbproject/
firmware#1/Makefile
firmware#1/*.WORKSPACE
firmware#1/*.PDSBAK
win_localapp/