webapp/.idea/
webapp/.idea/libraries/
webapp/target/
webapp/*.iml
webapp/dependency-reduced-pom.xml
localapp/.idea/
localapp/.idea/libraries/
localapp/target/
localapp/*.iml
firmware#1/build/
firmware#1/debug/
firmware#1/dist/
firmware#1/nbproject/
firmware#1/Makefile
firmware#1/*.WORKSPACE
firmware#1/*.PDSBAK